@(loggedIn: Boolean)

@import helper._

@main("play-java-securesocial", loggedIn) {
	
    <div class="jumbotron">
		<h1>play-java-securesocial</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit eros vitae elit vulputate interdum. Donec congue eros ac mi interdum eget scelerisque felis eleifend. Cras tincidunt euismod turpis a pellentesque. Etiam venenatis quam sed risus dapibus volutpat tincidunt elit fringilla.
		</p>
    </div>
	
	<div class="row">
		<div class="col-md-2">
			<p>
  				<a href="start"><button class="btn btn-sm btn-primary" type="button">Login</button></a>
			</p>
		</div>
	</div>

}
